.duoc-background{
    --background: rgb(1,46,85);
}
#hometitle{
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    align-self: center;
    font-size: medium;
    margin-left: 5px;
}
