<app-standar-header [pageTitle]="Title"></app-standar-header>
<ion-content [fullscreen]="true" color="light">
  <ion-card>
    <ion-card-header>
      <ion-toolbar class="ion-text-center">
        <h3>Tranquil@ pronto recuperaras tu contraseña :)</h3>
      </ion-toolbar>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Usuario</ion-label>
        <ion-input placeholder="Ingrese su Usuario"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Correo</ion-label>
        <ion-input type="password" placeholder="Ingrese su correo"></ion-input>
      </ion-item>
      <ion-toolbar class="ion-padding-top">
        <ion-text color="medium" class="ion-text-center">
          <h4>Enviaremos tu nueva contraseña al correo.</h4>
        </ion-text>
      </ion-toolbar>
      <ion-button shape="round" strong="true" fill="solid" expand="block">
        Enviar contraseña
      </ion-button>
      <div class="ion-margin-top"></div>
    </ion-card-content>
  </ion-card>
</ion-content>
<app-standar-footer></app-standar-footer>